.txtBlue{
    color: blue;
}

.txtRed{
    color: red;
}

.dimCard{

    height: 250px;
    width: 200px;

    border: 1px solid black;

    margin: 20px;

    float: left;
}

.dimImg{
width: 90%;
height: auto;
}